* {
  font-family: "Open Sans", sans-serif;
}

.course-item {
  background-color: aliceblue;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  max-width: 800px;
}

.course-item div {
  min-width: 50%;
}

h3 {
  margin-bottom: 1rem;
}

button {
  background-color: #1578c9;
  color: white;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: aquamarine;
}

.special-offer {
  color: green;
  font-weight: bold;
}

.on-sale {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 2px;
}
