* {
  font-family: "Open Sans", sans-serif;
}

.wishlist-banner {
  background-color: rgba(156, 74, 156, 0.445);
  border: 2px solid rgb(156, 74, 156);
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
